In [ ]:
#Data.csv

# **Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# **Step 2: Importing dataset**

In [ ]:
df = pd.read_csv("/content/Data.csv")

In [ ]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

# **Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
df['Age']=df['Age'].fillna(df.Age.mean()) # filling null values with mean
df['Salary']=df['Salary'].fillna(df.Salary.mean())

In [ ]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

# **Step 4: Encoding categorical data**

In [ ]:
df['Purchased'] = df.Purchased.map({'Yes':1,'No':0})

In [ ]:
df.head(2)

  Country   Age   Salary  Purchased
0  France  44.0  72000.0          0
1   Spain  27.0  48000.0          1

# **Step 5: Creating a dummy variable**

In [ ]:
df=pd.get_dummies(df,columns=['Country'])

In [ ]:
df.head(3)

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0

# **Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
X = df[['Age','Salary','Country_France','Country_Germany','Country_Spain']].values 
y = df['Purchased'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

# **Step 7: Feature Scaling**

In [ ]:
scaler = StandardScaler() 
scaler.fit(X_train,y_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)